<!doctype html>
<html lang="en">
<head>
    <title>Heartex Sentiments</title>
    <meta content="width=device-width, initial-scale=0.66" name="viewport">
    <link href="semantic-ui/semantic.min.css" rel="stylesheet" type="text/css"/>

    <style>
        body {
            background: #221c4d;
        }

        div {
            color: #EEE !important;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            font-size: 100%;
        }

        .query {
            text-align: center;
            font-size: 130% !important;
        }
    </style>
</head>

<body>
<div id="app" class="ui page">

    <!-- Input field -->
    <div class="ui form" style="margin: 1em 3em 3em 3em">
        <input v-model="query" class="ui input query" type="text"
               placeholder="Enter your keyword here to start sentiment analysis"/>
    </div>

    <!-- Canvas -->
    <div style="width:98%;" class="ui basic segment" id="canvas-container">
        <div class="ui large text loader inverted" :class="{active: loading}"></div>
        <canvas id="canvas-1"></canvas>
    </div>

    <div class="ui news" id="news">
    </div>

    <!-- Statistics -->
    <div class="ui center aligned grid">
        <div class="ui one column statistics">
            <div class="statistic">
                <div class="value">{{ this.news.length }}</div>
                <div class="label">News processed</div>
            </div>

            <div class="ui statistic">
                <div class="value">Sentiment Analysis</div>
                <div class="label">Based on Heartex AI platform</div>
            </div>
        </div>
    </div>

</div>

<script src="js/Chart.bundle.min.js"></script>
<script src="js/Chart.plots.js"></script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/DateFormat.js"></script>
<script src="semantic-ui/semantic.min.js"></script>

<script>
    const data_path = 'data/output.json';
    const chart_id = 'canvas-1';

    // resize corresponding to window height
    $(window).resize(function () {
        $('#canvas-container').height($(window).height() * 0.4);
        $('#canvas-1').height($(window).height() * 0.4);
        $('#news').height($(window).height() * 0.2);
    });
    $(window).resize();

    function print(o) {
        console.log(o)
    }

    // check vue for browser compability
    var compatibleBrowser = typeof Object['__defineSetter__'] === 'function';
    if (!compatibleBrowser) {
        alert('Sorry, but your browser has no Vue compatibility!');
    }

    // Vue app implementation
    var app = new Vue({
        el: '#app',

        data() {
            return {
                loading: true,
                chart_instance: null,
                chart_data: null,
                news: [],
                timer: null,
                query: "",
                start_date: ""
            }
        },

        methods: {
            reset() {
                Object.assign(this.$data, this.$options.data.apply(this));
            },

            calculate_start_date() {
                const today = new Date();
                let start = new Date();
                let dateOffset = 1000 * 60 * 60 * 24 * 30; // 30 days back
                start.setTime(today.getTime() - dateOffset);
                this.start_date = start.format('yyyy-mm-ddTHH:MM:ssZ');
                return this.start_date;
            },

            update_data() {
                let result = JSON.parse($.get({url: data_path + '?rnd=' + Math.random(), async: false}).responseText);
                this.chart_data = result['chart'];

                // update chart_instance
                this.chart_instance.data.labels = this.chart_data.x;
                this.chart_instance.data.datasets[0].data = this.chart_data.y;
                this.chart_instance.update(500);
                this.news = result['news'];
                this.loading = false;
            },

            // build data for chart_instance.js
            build_chart_config(data) {

                // prepare plot
                let plot = {
                    'type': 'line',
                    'timeFormat': 'YYYY-MM-DDTHH:mm:ssZ',
                    'title': 'Sentiment',
                    'xAxisName': 'Time',
                    'yAxisName': 'Sentiment',
                    'labels': data.x,
                    'datasets': [{
                        data: data.y,
                        backgroundColor: 'rgba(249,133,54,0.3)',
                        borderColor: '#f58a48',
                    }]
                };

                // prepare full Chart.js config
                return configTimeSeries(plot);
            },

            build_sentiment() {
                this.loading = true;

                // send request to build new sentiment analysis around query
                $.ajax({
                    url: '/api/build-sentiment',
                    data: {
                        'query': this.query,
                        'start_date': this.calculate_start_date()

                    }
                }).done(result => {
                    print('build-sentiment ok');
                    this.loading = false;
                }).fail(result => {
                    print('build-sentiment fail');
                    print(result);
                    this.loading = false;
                });
            }
        },

        watch: {
            // watch for root.chart_data var and call it when it changes
            chart_data() {
                this.chart_instance.data.labels = this.chart_data.x;
                this.chart_instance.data.datasets[0].y = this.chart_data.y;
                this.chart_instance.update(0);
            },

            // watch for realtime query changes
            query() {
                this.build_sentiment()
            }
        },

        // vue mounting of page
        mounted() {
            this.loading = true;

            // mount Chart.js
            let ctx = document.getElementById(chart_id).getContext('2d');
            let chart_config = this.build_chart_config({x: [], y: []});
            this.chart_instance = new Chart(ctx, chart_config);

            // setup timer for data update
            this.update_data();
            // this.timer = setInterval(this.update_data, 1000);
            console.log('mounting of Chart.js and init success');
        }

    });

</script>

</body>
</html>
