<!doctype html>
<html lang="en">
<head>
    <title>Heartex Sentiment Analysis</title>
    <meta content="width=device-width, initial-scale=0.66" name="viewport">

    <meta charset="utf-8"/>
    <meta content="Sentiment analysis" name="description"/>
    <meta content="Heartex — build sentiment analysis for your data" property="og:title"/>
    <meta content="Custom Sentiment Analysis based on Twitter stream and Heartex API" property="og:description"/>
    <meta content="https://uploads-ssl.webflow.com/5cb5a799cf58f5f8d19a9441/5cb87dbcbfadbea87e509585_heartex_og.png"
          property="og:image"/>
    <meta content="summary" name="twitter:card"/>

    <link href="semantic-ui/semantic.min.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="https://go.heartex.net/static/imgs/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrssb@1.14.0/css/rrssb.css">

    <style>
        body {
            background: #221c4d;
            font-family: Rubik, sans-serif;

        }

        .content {
            max-width: 1280px;
            margin: 0 auto;
        }

        div {
            color: #EEE !important;
        }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            font-size: 100%;
        }

        .query {
            text-align: center;
            font-size: 130% !important;
        }

        a div {
            transition: all .8s ease;
            -webkit-transition: all .8s ease;
        }

        a div:hover {
            color: chocolate !important;
            transition: all .8s ease;
            -webkit-transition: all .8s ease;
        }

        #news {
            margin-top: 4em;
        }

        .news-item {
            margin-bottom: 1%;
            color: #ccc;
        }

        .news-time {
            color: #ccc !important;
            background: #28206c !important;
            margin-right: 0.2em;
        }

        .news-sentiment {
            color: #ccc !important;
            background: #28206c !important;
            margin-right: 0.2em;
        }

        .legend {
            width: 100%;
            text-align: right;
            color: #bbb !important;
        }

        .legend .positive {
            background-color: #6cca86;
            width: 1em;
            height: 1em;
            display: inline-block
        }

        .legend .negative {
            background-color: #f58a48;
            width: 1em;
            height: 1em;
            display: inline-block;
        }

        .examples {
            margin-top: 0.5em
        }

        .examples a {
            border-bottom: 1px dotted;
            text-decoration: none;
            color: #eee;
        }

        .github-button {
            margin-right: 1em !important;
        }

        .header-elements {
            padding: 1em 1em !important;
            background-color: #221c4d;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>

<body>
<div id="app" class="ui page content" style="margin-bottom: 8em;">

    <!-- Heartex logo -->
    <div class="ui header-elements grid stackable">

        <div class="one wide column" style="display: flex; align-items: center;">
            <a href="https://heartex.net/">
                <img src="https://go.heartex.net/static/imgs/heartex_icon_5@2x.png"
                     style="height: 50px; margin-right: 1em;">
            </a>
            <a href="https://heartex.net/">
                <img src="https://uploads-ssl.webflow.com/5cb5a799cf58f5f8d19a9441/5cb5e98335d2cc02b25fe216_Heartex%20logo%20220x40.svg"
                     height="26"/>
            </a>
        </div>

        <!-- Center area -->
        <div class="one wide column" style="display: flex; align-items: center;">
            <!-- Github cards -->
            <a class="github-button" href="https://github.com/heartexlabs" data-size="large"
               aria-label="Follow @heartexlabs on GitHub">Check @heartexlabs</a>&nbsp;&nbsp;&nbsp;
            <a class="github-button" href="https://github.com/heartexlabs/brand-sentiment-analysis"
               data-icon="octicon-star"  data-size="large" data-show-count="true"
               aria-label="Star heartexlabs/brand-sentiment-analysis on GitHub">Star</a>&nbsp;&nbsp;&nbsp;

            <!-- Build own model button -->
            <div>
                <a class="ui button positive" href="https://go.heartex.net/business/signup/"
                   style="font-size: 12px; width: 13em; padding: 0.7em 1.3em">Build Your Own Model</a>
            </div>
        </div>

        <!-- Fork on github -->
        <div class="one wide column">
        </div>

        <!-- Right corner -->
        <div>
            <a href="https://github.com/heartexlabs/brand-sentiment-analysis" alt="Fork on GitHub">
                <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 250 250" fill="#151513"
                     style="position: absolute; top: 0; right: 0">
                    <path d="M0 0l115 115h15l12 27 108 108V0z" fill="#fff"/>
                    <path class="octo-arm"
                          d="M128 109c-15-9-9-19-9-19 3-7 2-11 2-11-1-7 3-2 3-2 4 5 2 11 2 11-3 10 5 15 9 16"
                          style="-webkit-transform-origin: 130px 106px; transform-origin: 130px 106px"/>
                    <path class="octo-body"
                          d="M115 115s4 2 5 0l14-14c3-2 6-3 8-3-8-11-15-24 2-41 5-5 10-7 16-7 1-2 3-7 12-11 0 0 5 3 7 16 4 2 8 5 12 9s7 8 9 12c14 3 17 7 17 7-4 8-9 11-11 11 0 6-2 11-7 16-16 16-30 10-41 2 0 3-1 7-5 11l-12 11c-1 1 1 5 1 5z"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- Input field -->
    <div class="ui container">

        <!-- Sentiment Analysis header text -->
        <div class="ui two column centered grid" style="margin: 2em 0;">
            <div>
                <div style="font-size: 4em; line-height: 1em">Sentiment Analysis</div>
                <div style="font-size: 1em">Based on Twitter stream and Heartex API</div>
                <br/>
            </div>
        </div>

        <!-- Input query -->
        <div class="ui form">
            <input v-model="query" class="ui input query" type="text"
                   placeholder="Enter a keyword, brand name, product name, politician or famous person"/>

            <div class="examples">
                <span>Try:</span>
                <a href="#" v-on:click="query='Google'">Google</a>,
                <a href="#" v-on:click="query='Facebook'">Facebook</a>,
                <a href="#" v-on:click="query='Donald Trump'">Donald Trump</a>,
                <a href="#" v-on:click="query='Mark Zuckerberg'">Mark Zuckerberg</a>
            </div>
        </div>

        <!-- Smart Filters Buttons -->
        <div v-for="item in this.smart_filters">
            Smart filters powered by AI:
            <div class="ui button orange model-button" v-on:click="use_ml_query(item['name'])">{{ item['name'] }}</div>
        </div>

    </div>

    <!-- Plot -->
    <div style="width:98%;" class="ui basic segment" id="canvas-container" v-on:dblclick="update_plot()">
        <!-- Legend -->
        <div class="legend">
            <span class="positive"></span> Positive replies
            <span class="negative"></span> Negative replies
        </div>
        <!-- Loader -->
        <div class="ui large text loader inverted" :class="{active: loading}"></div>
        <!-- Canvas -->
        <canvas id="canvas-1"></canvas>
    </div>

    <!-- Statistics -->
    <div class="ui center aligned grid">
        <div class="ui three column statistics">
            <div class="statistic">
                <div class="value">{{ this.news.length }}</div>
                <div class="label">News processed</div>
            </div>

            <div class="statistic">
                <div class="value">{{ repliesNumber }}</div>
                <div class="label">Replies analyzed</div>
            </div>
        </div>
    </div>

    <!-- News feed -->
    <div class="ui container news" id="news">
        <ul>
            <div v-for="item in this.news.slice(this.news.length-50, this.news.length).reverse()" class="news-item">
                <div class="ui tiny label news-time">
                    {{ (new Date(item['created_at']*1000)).format('yyyy.mm.dd HH:MM') }}
                </div>
                <div class="ui tiny label news-sentiment">
                    {{ item['positives'] }} <i class="ui icon thumbs up outline"></i>
                    {{ item['negatives'] }} <i class="ui icon thumbs down outline"
                                               style="margin-right:0 !important;"></i>
                </div>
                {{ item['text'] }}
            </div>
        </ul>
    </div>
</div>
</div>


<script src="js/Chart.bundle.min.js"></script>
<script src="js/Chart.plots.js"></script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/DateFormat.js"></script>
<script src="semantic-ui/semantic.min.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
    const api_path = 'api/build-sentiment';
    const api_get_smart_filters_path = 'api/get-smart-filters';
    const chart_id = 'canvas-1';

    // resize corresponding to window height
    $(window).resize(function () {
        $('#canvas-container').height($(window).height() * 0.4);
        $('#canvas-1').height($(window).height() * 0.4);
        // $('#news').height($(window).height() * 0.2);
    });
    $(window).resize();

    function print(o) {
        console.log(o)
    }

    // check vue for browser compability
    var compatibleBrowser = typeof Object['__defineSetter__'] === 'function';
    if (!compatibleBrowser) {
        alert('Sorry, but your browser has no Vue compatibility!');
    }

    // delayed function call
    let timeout;

    function debounce(func, wait, immediate) {
        return function () {
            const context = this, args = arguments;
            const later = () => {
                timeout = null;
                if (!immediate) func.apply(context, args);
            };
            const callNow = immediate && !timeout;

            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) func.apply(context, args);
        };
    }

    // Vue app implementation
    var app = new Vue({
        el: '#app',

        data() {
            return {
                loading: true,
                chart_instance: null,
                news: [],
                timer: null,
                query: "",
                start_date: "",
                current_request_id: 0,
                smart_filters: []
            }
        },

        methods: {
            reset() {
                Object.assign(this.$data, this.$options.data.apply(this));
            },

            use_ml_query(model_name) {
                this.query = 'model:"' + model_name + '"'
            },

            calculate_start_date() {
                const today = new Date();
                let start = new Date();
                let dateOffset = 1000 * 60 * 60 * 24 * 30; // 30 days back
                start.setTime(today.getTime() - dateOffset);
                this.start_date = start / 1000;
                return this.start_date;
            },

            update_plot() {
                this.loading = true;
                this.current_request_id++;
                let root = this;
                let local_request_id = this.current_request_id;

                $.get({
                    url: api_path,
                    data: {
                        'query': this.query,
                        'start_date': this.calculate_start_date()
                    },

                }).done((response) => {
                    // avoid outdated requests
                    if (local_request_id !== root.current_request_id)
                        return;

                    let result = response['result'];
                    print(response);

                    // update chart_instance
                    this.chart_instance.data.labels = result.chart_sentiment.x;
                    this.chart_instance.data.datasets[0].data = result.chart_positives.y;
                    this.chart_instance.data.datasets[1].data = result.chart_negatives.y;
                    this.chart_instance.update(1000);
                    this.news = result['news'];
                    this.loading = false;

                }).fail((response) => {
                    this.loading = false;

                    // too small request
                    if (response.status === 422)
                        return;

                    // some error on backend
                    alert('Error on backend, see more in console');
                    print(response)
                });

            },

            // build data for chart_instance.js
            build_chart_config() {

                // prepare plot
                let plot = {
                    'type': 'line',
                    'timeFormat': 'YYYY-MM-DDTHH:mm:ssZ',
                    'title': 'Sentiment',
                    'xAxisName': 'Time',
                    'yAxisName': 'Replies',
                    'labels': [],
                    'datasets': [
                        {
                            data: [],
                            lineTension: 0.0,
                            backgroundColor: 'rgba(108,202,134,0.3)',
                            borderColor: '#6cca86',
                        },
                        {
                            data: [],
                            lineTension: 0.0,
                            backgroundColor: 'rgba(249,133,54,0.3)',
                            borderColor: '#f58a48',
                        }
                    ]
                };

                // prepare full Chart.js config
                return configTimeSeries(plot);
            },
        },

        computed: {
            repliesNumber() {
                let total = 0;
                for (let i = 0; i < this.news.length; i++)
                    total += this.news[i]['replies'].length;
                return total;
            }
        },

        watch: {
            // watch for realtime query changes
            query() {
                debounce(this.update_plot, 500, false)();
            }
        },

        // init
        created() {
            $.get(api_get_smart_filters_path)
                .done((response) => {
                    this.smart_filters = response['result'];
                    print(response)
                })
                .fail((response) => {
                    // some error on backend
                    alert("Error on backend, can't get smart filters");
                    print(response)
                });
        },

        // vue mounting of page
        mounted() {
            this.loading = true;

            // mount Chart.js
            let ctx = document.getElementById(chart_id).getContext('2d');
            let chart_config = this.build_chart_config();
            this.chart_instance = new Chart(ctx, chart_config);

            // setup timer for data update
            this.update_plot();
            //this.timer = setInterval(this.update_plot, 30000);
            console.log('mounting of Chart.js and init success');
        }

    });

</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129877673-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-129877673-3');
</script>

</body>
</html>
